* {
    box-sizing: border-box;
}

:root {
    --primary-color: #5d3bee;
    --second-primary-color: #080415;
    --third-primary-color: #51586a;
}

html,
body {
    scroll-behavior: smooth;
    overscroll-behavior: none;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "DM Sans", sans-serif;
}

.container {
    padding: 0;
}

.container--large {
    max-width: 1330px;
}

/* Common */
a {
    text-decoration: none;
}

a,
input,
textarea,
select,
button,
article {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
}

.btn {
    display: inline-block;
    text-align: center;
    min-width: 170px;
    height: 62px;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 62px;
    color: #fdfdfd;
    background: var(--primary-color);
    transition: 0.25s;
}

.btn:hover {
    opacity: 0.9;
}

.btn.btn--white {
    background: #fff;
    color: var(--second-primary-color);
}

.btn.btn--white:hover {
    color: #fff;
    background: #381ab7;
}

.section-heading {
    color: var(--second-primary-color);
    font-weight: 500;
}

.section-heading.lv1 {
    font-size: 5.6rem;
    line-height: 1.18;
}

.section-heading.lv2 {
    font-size: 3.2rem;
    line-height: 1.25;
}

.section-desc {
    color: var(--third-primary-color);
    font-size: 1.8rem;
    line-height: 1.67;
}

/* Header */
.header {
    padding-top: 20px;
    background: #fbfaff;
}

.header.header__fixed {
    position: sticky;
    top: -20px;
    left: 0;
    z-index: 10;
}

.header__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 27px 0;
}

.navbar__list,
.header-contact {
    display: flex;
    align-items: center;
}

.header-contact__img {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 1px solid #5d3bee33;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-contact__mail {
    margin-left: 10px;
    color: var(--second-primary-color);
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.36;
    text-decoration-line: underline;
    transition: 0.25s;
}

.header-contact__mail:hover {
    color: var(--primary-color);
}

.header__logo {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    object-fit: cover;
    display: block;
}

.navbar__list {
    display: flex;
}

.navbar__link {
    color: var(--third-primary-color);
    font-size: 1.8rem;
    padding: 8px 21.5px;
    transition: 0.25s;
}

.navbar__link:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

/* Hero */
.hero {
    padding-top: 44px;
    background: #fbfaff;
}

.hero__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.hero__inner::before,
.hero__inner::after {
    position: absolute;
    display: block;
}

.hero__inner::before {
    content: url(../img/hero-decor-01.png);
    left: -220px;
    bottom: -3px;
}

.hero__inner::after {
    content: url(../img/hero-decor-02.png);
    right: -194px;
    bottom: 0;
}

.hero-media {
    position: relative;
    width: 43.9%;
}

.hero__img {
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

.hero-info {
    width: 42.7%;
}

.hero__heading {
    margin-top: 137px;
    color: var(--second-primary-color);
    font-size: 8rem;
    font-weight: 600;
    line-height: 0.95;
}

.hero__desc {
    margin-top: 20px;
    width: 370px;
}

.hero__cta {
    margin-top: 50px;
    display: flex;
    align-items: center;
}

.hero__link {
    margin-left: 30px;
    display: block;
    color: var(--second-primary-color);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.67;
    text-decoration-line: underline;
    transition: 0.25s;
}

.hero__link:hover {
    color: var(--primary-color);
}

.hero-socials {
    margin: 104px 0 38px;
    display: flex;
    align-items: center;
}

.hero-socials__desc {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.88;
}

.hero-socials__list {
    margin-left: 15px;
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.hero-socials__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #e3e1e8;
    transition: 0.25s;
}

.hero-socials__link:hover {
    border-color: var(--primary-color);
    background: var(--primary-color);
}

.hero-socials__link:hover .hero-socials__icon {
    color: #fff;
}

.hero-socials__icon {
    color: var(--second-primary-color);
}

/* Company */
.company {
    margin-top: 98px;
    background: #fff;
}

.company__inner {
    display: flex;
    align-items: center;
}

.company__heading {
    margin-left: 99px;
    position: relative;
    width: 253px;
    color: var(--second-primary-color);
    font-size: 4.2rem;
    font-weight: 500;
    line-height: 1.19;
}

.company__heading::before {
    position: absolute;
    content: "";
    display: block;
    left: -99px;
    top: 22px;
    width: 86px;
    height: 2px;
    background: var(--primary-color);
}

.company__list {
    margin-left: 105px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 36px 54px;
}

.company-item__img {
    display: block;
}

/* Service */
.service {
    padding: 133px 0 140px;
    background: #fff;
}

.service-top {
    text-align: center;
    margin: 0 auto;
}

.service__desc {
    margin-top: 20px;
    width: 534px;
}

/* Service list */
.service__list {
    margin-top: 60px;
}

.service-item {
    padding: 33px 43px;
    background: #fbfaff;
    transition: 0.25s;
}

.service-item:hover {
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.07);
}

.service-item__heading {
    margin-top: 22px;
    transition: 0.25s;
}

.service-item__heading:hover {
    color: var(--primary-color);
}

.service-item__desc {
    margin-top: 15px;
}

/* Work */
.work {
    padding: 86px 0;
    background: var(--primary-color);
}

.work__heading {
    width: 468px;
    color: #fff;
}

.work__desc {
    margin: 31px 0 0 130px;
    width: 370px;
    color: rgb(255 255 255 / 70%);
}

.work-bottom {
    margin-top: 70px;
}

.work-bottom__2 {
    margin-top: 30px;
}

/* Work item */
.work-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 23px 23px 34px;
    background: #fbfaff;
    transition: 0.25s;
}

.work-item:hover {
    transform: translateY(-10px);
}

.work-item::after {
    position: absolute;
    display: block;
    content: url(../img/work-decor.png);
    top: 0;
    right: 0;
}

.work-item__heading {
    font-weight: 600;
}

.work-item__heading:hover,
.work-item__cta:hover {
    color: var(--primary-color);
}

.work-item__desc {
    width: 220px;
    margin-top: 10px;
    font-size: 1.6rem;
    line-height: 1.44;
}

.work-item__cta {
    display: block;
    margin-top: 20px;
    font-weight: 700;
    color: var(--second-primary-color);
    text-decoration-line: underline;
}

.work-item__media {
    width: 245px;
    overflow: hidden;
}

.work-item:hover .work-item__img {
    transform: scale(1.1);
}

.work-item__img {
    position: relative;
    width: 100%;
    display: block;
    z-index: 1;
    transition: 0.25s;
}

.work-cta {
    display: flex;
    justify-content: center;
}

.work__btn {
    margin-top: 80px;
}

/* About */
.about {
    padding-top: 140px;
}

.about-info {
    text-align: center;
}

.about__title-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__title {
    color: var(--primary-color);
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
}

.about__icon {
    margin-left: 9px;
}

.about__heading {
    margin-top: 10px;
}

.about__desc {
    margin: 15px auto 0;
    width: 570px;
}

.about__list {
    width: 946px;
    margin: 70px auto 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-top: 1px solid rgb(8 4 21 / 20%);
    border-bottom: 1px solid rgb(8 4 21 / 20%);
}

.about-item {
    padding: 20px 0;
}

.about-item__title {
    color: var(--second-primary-color);
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 1.38;
    text-decoration-line: underline;
}

.about-media {
    position: relative;
    margin-top: 70px;
}

.about__video {
    width: 100%;
    display: block;
}

.about__btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 111px;
    height: 111px;
    border: none;
    border-radius: 50%;
    outline: none;
    background: #ffffffb2;
    transition: 0.25s;
}

.about__btn:hover {
    cursor: pointer;
    background: var(--primary-color);
}

.about__btn:hover .about__play {
    color: #fff;
}

.about__play {
    color: var(--primary-color);
}

.about__intro {
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 16px 29px;
    border: none;
    outline: none;
    background: #fff;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.25s;
}

.about__intro:hover {
    color: #fff;
    background: var(--primary-color);
}
